
{% extends '::layout.html.twig' %}

{% block body -%}
    <div class="panel-body">
        <div class="table-responsive">
         {{dump(entity)}}
          {{dump(test)}} 
        </div>
    </div>
{% endblock %}

